				<br/><br/>
				<p class='text-right'>Powered by NODEJS</P>
			</div>							
	    </div>    
	    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>		        	
  	</body>
</html>