<!DOCTYPE html>
<html>
  	<head>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title><%= title %></title>
    	<!--link rel='stylesheet' href='/stylesheets/style.css' /-->
    	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' />
     <style>
          .wrapper-body{
               margin: 0 auto;
               width: 960px;
          }
     </style>
  	</head>
  	<body>	    
          <div class=wrapper>
     	    	<div class=wrapper-body>          
                    <div class=header><img src="/images/header1.png"/></div>