<!DOCTYPE html>
<html>
  	<head>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title><%= title %></title>
        
     <script src="/javascripts/vendor/jquery-1.11.1.js"></script>    	
    	<script src="/javascripts/vendor/underscore.js"></script>          
     <script src="/javascripts/vendor/backbone.js"></script>  
     <script src="http://192.168.254.107:4000/socket.io/socket.io.js"></script>     

     <script src="/javascripts/model/users-info.js"></script>
     <script src="/javascripts/view/menunavigator.js"></script>
     <script src="/javascripts/view/home.js"></script>
     <script src="/javascripts/app.js"></script>

     <link rel='stylesheet' href='/stylesheets/bootstrap.css' /> 
     <style>
          .wrapper-body{
              margin: 0 auto;
              width: 960px;               
          }
          .content-body{
              min-height: 300px;
          }
     </style>             
  	</head>
  	<body>	    
          <div class=wrapper>
     	    	<div class=wrapper-body>          
                    <div class=header><img src="/images/header1.png"/></div>
                    <nav class="navbar navbar-default" role="navigation">
                         <div class="container-fluid">
                         <!-- Brand and toggle get grouped for better mobile display -->                              
                              <div id="menu-navigation"></div>
                              <div class='navbar-header'><a class='navbar-brand' href='/'>Home</a></div>
                              <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
                                   <ul class='nav navbar-nav'>
                                        <li><a href='/lobby'>Lobby</a></li>
                                   </ul>       
                                   <p class='navbar-text navbar-right' id='userinfo-and-logout'></p>
                              </div>     
                         </div>
                    </nav>