<%- include ../templates/header.ejs %>    
<div class='content-body'>
     <div class='content-container'>
    	<div class='container-fluid'>
    		<style>
    			#lobby-chat-box, #lobby-chat-input,#lobby-chat-users{
    				width: 100%;
    			}	
    		</style>
    		<div class='row'>
    			<div class='col-md-8'>
    				<textarea id='lobby-chat-box' rows='13' readonly></textarea>
    			</div>
    			<div class='col-md-4'>
                    <textarea id='lobby-chat-users' rows='13'></textarea>
    			</div>
    		</div>		
    		<div class='row'>
    			<div class='col-md-8'>
    				<input id='lobby-chat-input' type='text' placeholder='Enter your chat here'/>
    			</div>
    		</div>          
    	</div>
     </div>
</div>
<%- include ../templates/footer.ejs %>    